<div class="row">
  <div class="col-md-3">
    <p class="lead">Shop Name</p>
    <div class="list-group">
      <a href="#" class="list-group-item">Printable</a>
      <a href="#" class="list-group-item">Cupcake Wrappers</a>
      <a href="#" class="list-group-item">Authentic Dragon Bones</a>
    </div>
  </div>

  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" {{bindAttr src=largeImageUrl}} alt="">
      <div class="caption-full">
        <h4 class="pull-right">${{amount}}</h4>
        <h4>{{title}}</h4>
        <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
        <p>Want to make these reviews work? Check out <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a></strong> over at maxoffsky.com!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
      <div class="ratings">
        <p class="pull-right">{{reviewCount}} reviews</p>
        <p>
        {{star-rating starCount=rating}}
        {{rating}} stars
        </p>
      </div>
    </div>

    <div class="well">

      <div class="text-right">
        <a class="btn btn-success">Leave a Review</a>
      </div>

      {{#each reviews}}
        <hr>
        <div class="row">
          <div class="col-md-12">
            {{star-rating starCount=rating}}
            {{user}}
            <span class="pull-right">{{createdAt}} (x days ago)</span>
            <p>{{description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

