<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img {{bind-attr src=product.smallImageUrl}} alt="">
    <div class="caption">
      <h4 class="pull-right">${{product.amount}}</h4>
      <h4>{{#link-to 'product' product}}{{product.title}}{{/link-to}}</a>
      </h4>
      <p>{{product.description}}</p>
    </div>
    <div class="ratings">
      <p class="pull-right">{{product.reviewCount}} reviews</p>
      <p>
        {{star-rating starCount=product.rating}}
      </p>
    </div>
  </div>
</div>
